.form{
    width: 100%;
    max-width: 300px;
    background-color: white;
    padding: 2em 1.5em 3em;
    border-radius: 0.9em;
    border: 2px solid #393838;
    position: relative;
}
.form_x{
    position: absolute;
    top: 0.2em;
    right: 1.1em;
    cursor: pointer;
    font-size: 1.3rem;
    color: rgb(204, 12, 12);
}
.form_x:hover{
    transform: scale(1.3);
}
.form_title{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1em;
}
.form_label{
    display: block;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    margin-bottom: 0.8em;
}
.form_field_name{
    font-weight: 300;
    padding-left: 0.7em;
}
.form_field{
    padding: 0.5em;
    background-color: rgb(229, 221, 221);
    border: 1px solid #aaa5;
    font-weight: 500;
    color: #393838;
}
.form_btn{
    margin-top: 1em;
    width: 100%;
    font-size: 1rem;
    border: none;
    padding: 0.5em;
    font-weight: 300;
    background-color: rgb(42, 39, 39);
    color: white;
    border-radius: 0.9em;
}
.form_btn:hover {
    filter:brightness(1.5);
}