@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Playfair+Display:ital,wght@0,500;1,400&display=swap');
*{
    box-sizing: border-box;
}
html{
    font-family: 'Playfair Display', serif;
}
body{
    margin: 0;
}
h1, h2, h3, p, ul, hr{
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    list-style: none;
    padding-left: 0;
}
input, button{
    font-family: inherit;
}
button{
    cursor: pointer;
}
input{
    outline: 0;
}